{
  "swagger" : "2.0",
  "info" : {
    "description" : "*(based on Berlin Group 1.3.2.20190215)*\n\nThis API intends to provide an interface between\n\n- Account Servicing Payment Service Providers (ASPSP)\n\n- LUXHUB\n\n\n**LUXHUB provides authorization and security services for the APSPS. PSD2 TPPs are connecting and are authorized by LUXHUB and\ntheir requests are forwarded towards the ASPSP, with same data and a changed security profile.**\n\n**This API is modeled using Berlin Group v1.3 as a base, with changed security profile. There is no modification of request/response messages whatsoever, compared to the base API, except for:**\n- additional HTTP headers: \n  - LH-PSU-Token - to pass PSU and related entities identifiers\n  - LH-Correlation-ID - unique request identifier set by LUXHUB firewall\n- additional query parameter - BIC (Bank Identifier Code) to support multi entity bank routing\n\n**The API documentation below is as per base API, i.e. Berlin Group standard API**\n\n**Each ASPSP needs to customize this standard API and add his own version number to the above version, for example in case of internal ASPSP API version 001 the version should be like: 1.1320181220.036.001 .**\n\n**The version number in this file is hence *publishedVersion>.standardVersion.luxhubVersion.aspspVersion* showing the order of customization hierarchy. The *publishedVersion* has to correspond to the last part of the base path as visible in servers section below.**\n\n**During API deployment in the gateway a deployment number will be added automatically so the version number visible will be like: 1.1320181220.036.001.3064a6a**\n\n# Summary\nThe **NextGenPSD2** *Framework Version 1.3* offers a modern, open, harmonised and interoperable set of \nApplication Programming Interfaces (APIs) as the safest and most efficient way to provide data securely. \nThe NextGenPSD2 Framework reduces XS2A complexity and costs, addresses the problem of multiple competing standards \nin Europe and, aligned with the goals of the Euro Retail Payments Board,\nenables European banking customers to benefit from innovative products and services ('Banking as a Service') \nby granting TPPs safe and secure (authenticated and authorised) access to their bank accounts and financial data.\n\nThe possible Approaches are:\n  * Redirect SCA Approach\n  * OAuth SCA Approach\n  * Decoupled SCA Approach\n  * Embedded SCA Approach without SCA method\n  * Embedded SCA Approach with only one SCA method available\n  * Embedded SCA Approach with Selection of a SCA method\n\n  Not every message defined in this API definition is necessary for all approaches. \n  Furthermore this API definition does not differ between methods which are mandatory, conditional, or optional\n  Therefore for a particular implementation of a Berlin Group PSD2 compliant API it is only necessary to support \n  a certain subset of the methods defined in this API definition.\n\n  **Please have a look at the implementation guidelines if you are not sure \n  which message has to be used for the approach you are going to use.**\n\n## Some General Remarks Related to this version of the OpenAPI Specification:\n* **This API definition is based on the Implementation Guidelines of the Berlin Group PSD2 API.** \n  It is not an replacement in any sense.\n  The main specification is (at the moment) always the Implementation Guidelines of the Berlin Group PSD2 API.\n* **This API definition contains the REST-API for requests from the PISP to the ASPSP.**\n* **This API definition contains the messages for all different approaches defined in the Implementation Guidelines.**\n* According to the OpenAPI-Specification [https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md]\n  \n    \"If in is \"header\" and the name field is \"Accept\", \"Content-Type\" or \"Authorization\", the parameter definition SHALL be ignored.\"\n  \n  The element \"Accept\" will not be defined in this file at any place.\n  \n  The elements \"Content-Type\" and \"Authorization\" are implicitly defined by the OpenApi tags \"content\" and \"security\".\n  \n* There are several predefined types which might occur in payment initiation messages, \n  but are not used in the standard JSON messages in the Implementation Guidelines.\n  Therefore they are not used in the corresponding messages in this file either.\n  We added them for the convenience of the user.\n  If there is a payment product, which need these field, one can easily use the predefined types.\n  But the ASPSP need not to accept them in general.\n  \n* **We omit the definition of all standard HTTP header elements (mandatory/optional/conditional) \n  except they are mention in the Implementation Guidelines.**\n  Therefore the implementer might add the in his own realisation of a PSD2 comlient API in addition to the elements define in this file.\n   \n## General Remarks on Data Types\n\nThe Berlin Group definition of UTF-8 strings in context of the PSD2 API have to support at least the following characters\n\na b c d e f g h i j k l m n o p q r s t u v w x y z\n\nA B C D E F G H I J K L M N O P Q R S T U V W X Y Z\n\n0 1 2 3 4 5 6 7 8 9\n\n/ - ? : ( ) . , ' +\n\nSpace\n",
    "version" : "1.13220190215.037",
    "title" : "LUXHUB PSD2 ASPSP services for AISP, PISP and PIISP - Berlin Group version",
    "contact" : {
      "name" : "The Berlin Group - A European Standards Initiative",
      "url" : "https://www.berlin-group.org/",
      "email" : "info@berlin-group.org"
    },
    "license" : {
      "name" : "Creative Commons Attribution 4.0 International Public License",
      "url" : "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "host" : "bank.luxhub.com",
  "basePath" : "/bg/v1",
  "tags" : [ {
    "name" : "Payment Initiation Service (PIS)",
    "description" : "The Decription for Payment Initiation Service (PIS) offers the following services:\n  * Initiation and update of a payment request\n  * Status information of a payment\n"
  }, {
    "name" : "Confirmation of Funds Service (PIIS)",
    "description" : "Confirmation of Funds Service (PIIS) returns a confirmation of funds request at the ASPSP.\n"
  }, {
    "name" : "Account Information Service (AIS)",
    "description" : "The Account Information Service (AIS) offers the following services\n  * Transaction reports for a given account or card account including balances if applicable.\n  * Balances of a given account or card account ,\n  * A list of available accounts or card account ,\n  * Account details of a given account or card account or of the list of all accessible accounts or card account  relative to a granted consent\n"
  }, {
    "name" : "Signing Baskets Service (SBS)",
    "description" : "Signing basket methods are used for authorising several transactions and resp. or consents with one SCA operation. \n"
  }, {
    "name" : "Common Services",
    "description" : "Processes on starting authorisations, update PSU identification or PSU authentication data and explicit \nauthorisation of transactions by using SCA are very similar in PIS and AIS and signing baskets services. \nThe API calls supporting these processes are described in the following independently from the service/endpoint. \nFor reasons of clarity, the endpoints are defined always for the Payment Initiation Service, the Payment Cancellation, \nthe Account Information Service (Consents), and Signing Baskets separately. \nThese processes usually are used following a hyperlink of the ASPSP. \n"
  } ],
  "schemes" : [ "http" ],
  "security" : [ { } ],
  "paths" : {
    "/accounts" : {
      "get" : {
        "tags" : [ "Account Information Service (AIS)" ],
        "summary" : "Read Account List",
        "description" : "Read the identifiers of the available payment account together with \nbooking balance information, depending on the consent granted.\n\nIt is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. \nThe addressed list of accounts depends then on the PSU ID and the stored consent addressed by consentId, \nrespectively the OAuth2 access token. \n\nReturns all identifiers of the accounts, to which an account access has been granted to through \nthe /consents endpoint by the PSU. \nIn addition, relevant information about the accounts and hyperlinks to corresponding account \ninformation resources are provided if a related consent has been already granted.\n\nRemark: Note that the /consents endpoint optionally offers to grant an access on all available \npayment accounts of a PSU. \nIn this case, this endpoint will deliver the information about all available payment accounts \nof the PSU at this ASPSP.\n",
        "operationId" : "AIS_GetAccountList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "withBalance",
          "in" : "query",
          "description" : "If contained, this function reads the list of accessible payment accounts including the booking balance, \nif granted by the PSU in the related consent and available by the ASPSP. \nThis parameter might be ignored by the ASPSP. \n",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
          "required" : false,
          "type" : "string",
          "format" : "byte"
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained if and only if this request was actively initiated by the PSU.\n",
          "required" : false,
          "type" : "string",
          "format" : "ipv4",
          "x-example" : "192.168.8.78"
        }, {
          "name" : "PSU-IP-Port",
          "in" : "header",
          "description" : "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "name" : "PSU-Accept",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Charset",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Encoding",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Language",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-User-Agent",
          "in" : "header",
          "description" : "The forwarded Agent header field of the HTTP request between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Http-Method",
          "in" : "header",
          "description" : "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
        }, {
          "name" : "PSU-Device-ID",
          "in" : "header",
          "description" : "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device.\n",
          "required" : false,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99435c7e-ad88-49ec-a2ad-99ddcb1f5555"
        }, {
          "name" : "PSU-Geo-Location",
          "in" : "header",
          "description" : "The forwarded Geo Location of the corresponding http request between PSU and TPP if available.\n",
          "required" : false,
          "type" : "string",
          "pattern" : "GEO:[0-9]{1,2}[;]-?[0-9]{6}\\,-]?[0-9]{1,3}\\.[0-9]{6}",
          "x-example" : "GEO:52.506931,13.144558"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Bank Identifer Code \n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/accountList"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error400_NG_AIS"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error401_NG_AIS"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error403_NG_AIS"
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error404_NG_AIS"
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error405_NG_AIS"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error406_NG_AIS"
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error409_NG_AIS"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error429_NG_AIS"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          }
        },
        "security" : [ {
          "BearerAuthOAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account-id}" : {
      "get" : {
        "tags" : [ "Account Information Service (AIS)" ],
        "summary" : "Read Account Details",
        "description" : "Reads details about an account, with balances where required. \nIt is assumed that a consent of the PSU to \nthis access is already given and stored on the ASPSP system. \nThe addressed details of this account depends then on the stored consent addressed by consentId, \nrespectively the OAuth2 access token.\n\n**NOTE:** The account-id can represent a multicurrency account. \nIn this case the currency code is set to \"XXX\".\n\nGive detailed information about the addressed account.\n\nGive detailed information about the addressed account together with balance information\n",
        "operationId" : "AIS_ReadAccountDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "account-id",
          "in" : "path",
          "description" : "This identification is denoting the addressed account. \nThe account-id is retrieved by using a \"Read Account List\" call. \nThe account-id is the \"id\" attribute of the account structure. \nIts value is constant at least throughout the lifecycle of a given consent.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "withBalance",
          "in" : "query",
          "description" : "If contained, this function reads the list of accessible payment accounts including the booking balance, \nif granted by the PSU in the related consent and available by the ASPSP. \nThis parameter might be ignored by the ASPSP. \n",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
          "required" : false,
          "type" : "string",
          "format" : "byte"
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained if and only if this request was actively initiated by the PSU.\n",
          "required" : false,
          "type" : "string",
          "format" : "ipv4",
          "x-example" : "192.168.8.78"
        }, {
          "name" : "PSU-IP-Port",
          "in" : "header",
          "description" : "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "name" : "PSU-Accept",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Charset",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Encoding",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Language",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-User-Agent",
          "in" : "header",
          "description" : "The forwarded Agent header field of the HTTP request between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Http-Method",
          "in" : "header",
          "description" : "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
        }, {
          "name" : "PSU-Device-ID",
          "in" : "header",
          "description" : "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device.\n",
          "required" : false,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99435c7e-ad88-49ec-a2ad-99ddcb1f5555"
        }, {
          "name" : "PSU-Geo-Location",
          "in" : "header",
          "description" : "The forwarded Geo Location of the corresponding http request between PSU and TPP if available.\n",
          "required" : false,
          "type" : "string",
          "pattern" : "GEO:[0-9]{1,2}[;]-?[0-9]{6}\\,-]?[0-9]{1,3}\\.[0-9]{6}",
          "x-example" : "GEO:52.506931,13.144558"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Bank Identifer Code \n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/accountDetails"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error400_NG_AIS"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error401_NG_AIS"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error403_NG_AIS"
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error404_NG_AIS"
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error405_NG_AIS"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error406_NG_AIS"
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error409_NG_AIS"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error429_NG_AIS"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          }
        },
        "security" : [ {
          "BearerAuthOAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account-id}/balances" : {
      "get" : {
        "tags" : [ "Account Information Service (AIS)" ],
        "summary" : "Read Balance",
        "description" : "Reads account data from a given account addressed by \"account-id\". \n\n**Remark:** This account-id can be a tokenised identification due to data protection reason since the path \ninformation might be logged on intermediary servers within the ASPSP sphere. \nThis account-id then can be retrieved by the \"GET Account List\" call.\n\nThe account-id is constant at least throughout the lifecycle of a given consent.\n",
        "operationId" : "AIS_GetBalances",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "account-id",
          "in" : "path",
          "description" : "This identification is denoting the addressed account. \nThe account-id is retrieved by using a \"Read Account List\" call. \nThe account-id is the \"id\" attribute of the account structure. \nIts value is constant at least throughout the lifecycle of a given consent.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
          "required" : false,
          "type" : "string",
          "format" : "byte"
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained if and only if this request was actively initiated by the PSU.\n",
          "required" : false,
          "type" : "string",
          "format" : "ipv4",
          "x-example" : "192.168.8.78"
        }, {
          "name" : "PSU-IP-Port",
          "in" : "header",
          "description" : "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "name" : "PSU-Accept",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Charset",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Encoding",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Language",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-User-Agent",
          "in" : "header",
          "description" : "The forwarded Agent header field of the HTTP request between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Http-Method",
          "in" : "header",
          "description" : "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
        }, {
          "name" : "PSU-Device-ID",
          "in" : "header",
          "description" : "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device.\n",
          "required" : false,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99435c7e-ad88-49ec-a2ad-99ddcb1f5555"
        }, {
          "name" : "PSU-Geo-Location",
          "in" : "header",
          "description" : "The forwarded Geo Location of the corresponding http request between PSU and TPP if available.\n",
          "required" : false,
          "type" : "string",
          "pattern" : "GEO:[0-9]{1,2}[;]-?[0-9]{6}\\,-]?[0-9]{1,3}\\.[0-9]{6}",
          "x-example" : "GEO:52.506931,13.144558"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Bank Identifer Code \n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/readAccountBalanceResponse-200"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error400_NG_AIS"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error401_NG_AIS"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error403_NG_AIS"
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error404_NG_AIS"
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error405_NG_AIS"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error406_NG_AIS"
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error409_NG_AIS"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error429_NG_AIS"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          }
        },
        "security" : [ {
          "BearerAuthOAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account-id}/transactions" : {
      "get" : {
        "tags" : [ "Account Information Service (AIS)" ],
        "summary" : "Read transaction list of an account",
        "description" : "Read transaction reports or transaction lists of a given account ddressed by \"account-id\", depending on the steering parameter \n\"bookingStatus\" together with balances.\n\nFor a given account, additional parameters are e.g. the attributes \"dateFrom\" and \"dateTo\". \nThe ASPSP might add balance information, if transaction lists without balances are not supported.\n",
        "operationId" : "AIS_GetTransactionList",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "account-id",
          "in" : "path",
          "description" : "This identification is denoting the addressed account. \nThe account-id is retrieved by using a \"Read Account List\" call. \nThe account-id is the \"id\" attribute of the account structure. \nIts value is constant at least throughout the lifecycle of a given consent.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "description" : "Conditional: Starting date (inclusive the date dateFrom) of the transaction list, mandated if no delta access is required.\n\nFor booked transactions, the relevant date is the booking date. \n\nFor pending transactions, the relevant date is the entry date, which may not be transparent \nneither in this API nor other channels of the ASPSP.\n",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "dateTo",
          "in" : "query",
          "description" : "End date (inclusive the data dateTo) of the transaction list, default is \"now\" if not given. \n\nMight be ignored if a delta function is used.\n\nFor booked transactions, the relevant date is the booking date. \n\nFor pending transactions, the relevant date is the entry date, which may not be transparent \nneither in this API nor other channels of the ASPSP.\n",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "entryReferenceFrom",
          "in" : "query",
          "description" : "This data attribute is indicating that the AISP is in favour to get all transactions after \nthe transaction with identification entryReferenceFrom alternatively to the above defined period. \nThis is a implementation of a delta access. \nIf this data element is contained, the entries \"dateFrom\" and \"dateTo\" might be ignored by the ASPSP \nif a delta report is supported.\n\nOptional if supported by API provider.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "bookingStatus",
          "in" : "query",
          "description" : "Permitted codes are \n  * \"booked\",\n  * \"pending\" and \n  * \"both\"\n\"booked\" shall be supported by the ASPSP.\nTo support the \"pending\" and \"both\" feature is optional for the ASPSP, \nError code if not supported in the online banking frontend\n",
          "required" : true,
          "type" : "string",
          "enum" : [ "booked", "pending", "both" ]
        }, {
          "name" : "deltaList",
          "in" : "query",
          "description" : "This data attribute is indicating that the AISP is in favour to get all transactions after the last report access for this PSU on the addressed account. This is another implementation of a delta access-report.\nThis delta indicator might be rejected by the ASPSP if this function is not supported.\nOptional if supported by API provider",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "withBalance",
          "in" : "query",
          "description" : "If contained, this function reads the list of accessible payment accounts including the booking balance, \nif granted by the PSU in the related consent and available by the ASPSP. \nThis parameter might be ignored by the ASPSP. \n",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
          "required" : false,
          "type" : "string",
          "format" : "byte"
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained if and only if this request was actively initiated by the PSU.\n",
          "required" : false,
          "type" : "string",
          "format" : "ipv4",
          "x-example" : "192.168.8.78"
        }, {
          "name" : "PSU-IP-Port",
          "in" : "header",
          "description" : "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "name" : "PSU-Accept",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Charset",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Encoding",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Language",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-User-Agent",
          "in" : "header",
          "description" : "The forwarded Agent header field of the HTTP request between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Http-Method",
          "in" : "header",
          "description" : "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
        }, {
          "name" : "PSU-Device-ID",
          "in" : "header",
          "description" : "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device.\n",
          "required" : false,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99435c7e-ad88-49ec-a2ad-99ddcb1f5555"
        }, {
          "name" : "PSU-Geo-Location",
          "in" : "header",
          "description" : "The forwarded Geo Location of the corresponding http request between PSU and TPP if available.\n",
          "required" : false,
          "type" : "string",
          "pattern" : "GEO:[0-9]{1,2}[;]-?[0-9]{6}\\,-]?[0-9]{1,3}\\.[0-9]{6}",
          "x-example" : "GEO:52.506931,13.144558"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Bank Identifer Code \n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/200_getTransactionList"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error400_NG_AIS"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error401_NG_AIS"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error403_NG_AIS"
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error404_NG_AIS"
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error405_NG_AIS"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error406_NG_AIS"
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error409_NG_AIS"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error429_NG_AIS"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          }
        },
        "security" : [ {
          "BearerAuthOAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account-id}/transactions/{resourceId}" : {
      "get" : {
        "tags" : [ "Account Information Service (AIS)" ],
        "summary" : "Read Transaction Details",
        "description" : "Reads transaction details from a given transaction addressed by \"resourceId\" on a given account addressed by \"account-id\". \nThis call is only available on transactions as reported in a JSON format.\n\n**Remark:** Please note that the PATH might be already given in detail by the corresponding entry of the response of the \n\"Read Transaction List\" call within the _links subfield.\n",
        "operationId" : "AIS_GetTransactionDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "account-id",
          "in" : "path",
          "description" : "This identification is denoting the addressed account. \nThe account-id is retrieved by using a \"Read Account List\" call. \nThe account-id is the \"id\" attribute of the account structure. \nIts value is constant at least throughout the lifecycle of a given consent.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "resourceId",
          "in" : "path",
          "description" : "This identification is given by the attribute resourceId of the corresponding entry of a transaction list.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
          "required" : false,
          "type" : "string",
          "format" : "byte"
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained if and only if this request was actively initiated by the PSU.\n",
          "required" : false,
          "type" : "string",
          "format" : "ipv4",
          "x-example" : "192.168.8.78"
        }, {
          "name" : "PSU-IP-Port",
          "in" : "header",
          "description" : "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "name" : "PSU-Accept",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Charset",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Encoding",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Language",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-User-Agent",
          "in" : "header",
          "description" : "The forwarded Agent header field of the HTTP request between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Http-Method",
          "in" : "header",
          "description" : "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
        }, {
          "name" : "PSU-Device-ID",
          "in" : "header",
          "description" : "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device.\n",
          "required" : false,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99435c7e-ad88-49ec-a2ad-99ddcb1f5555"
        }, {
          "name" : "PSU-Geo-Location",
          "in" : "header",
          "description" : "The forwarded Geo Location of the corresponding http request between PSU and TPP if available.\n",
          "required" : false,
          "type" : "string",
          "pattern" : "GEO:[0-9]{1,2}[;]-?[0-9]{6}\\,-]?[0-9]{1,3}\\.[0-9]{6}",
          "x-example" : "GEO:52.506931,13.144558"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Bank Identifer Code \n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/transactionDetails"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error400_NG_AIS"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error401_NG_AIS"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error403_NG_AIS"
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error404_NG_AIS"
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error405_NG_AIS"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error406_NG_AIS"
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error409_NG_AIS"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error429_NG_AIS"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          }
        },
        "security" : [ {
          "BearerAuthOAuth" : [ ]
        } ]
      }
    },
    "/card-accounts" : {
      "get" : {
        "tags" : [ "Account Information Service (AIS)" ],
        "summary" : "Reads a list of card accounts",
        "description" : "Reads a list of card accounts with additional information, e.g. balance information. \nIt is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. \nThe addressed list of card accounts depends then on the PSU ID and the stored consent addressed by consentId, \nrespectively the OAuth2 access token. \n",
        "operationId" : "AIS_GetCardAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
          "required" : false,
          "type" : "string",
          "format" : "byte"
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained if and only if this request was actively initiated by the PSU.\n",
          "required" : false,
          "type" : "string",
          "format" : "ipv4",
          "x-example" : "192.168.8.78"
        }, {
          "name" : "PSU-IP-Port",
          "in" : "header",
          "description" : "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "name" : "PSU-Accept",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Charset",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Encoding",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Language",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-User-Agent",
          "in" : "header",
          "description" : "The forwarded Agent header field of the HTTP request between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Http-Method",
          "in" : "header",
          "description" : "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
        }, {
          "name" : "PSU-Device-ID",
          "in" : "header",
          "description" : "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device.\n",
          "required" : false,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99435c7e-ad88-49ec-a2ad-99ddcb1f5555"
        }, {
          "name" : "PSU-Geo-Location",
          "in" : "header",
          "description" : "The forwarded Geo Location of the corresponding http request between PSU and TPP if available.\n",
          "required" : false,
          "type" : "string",
          "pattern" : "GEO:[0-9]{1,2}[;]-?[0-9]{6}\\,-]?[0-9]{1,3}\\.[0-9]{6}",
          "x-example" : "GEO:52.506931,13.144558"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Bank Identifer Code \n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/cardAccountList"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error400_NG_AIS"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error401_NG_AIS"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error403_NG_AIS"
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error404_NG_AIS"
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error405_NG_AIS"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error406_NG_AIS"
            }
          },
          "408" : {
            "description" : "Request Timeout",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error409_NG_AIS"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error429_NG_AIS"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            }
          }
        },
        "security" : [ {
          "BearerAuthOAuth" : [ ]
        } ]
      }
    },
    "/card-accounts/{account-id}" : {
      "get" : {
        "tags" : [ "Account Information Service (AIS)" ],
        "summary" : "Reads details about a card account",
        "description" : "Reads details about a card account. \nIt is assumed that a consent of the PSU to this access is already given \nand stored on the ASPSP system. The addressed details of this account depends \nthen on the stored consent addressed by consentId, respectively the OAuth2 \naccess token.\n",
        "operationId" : "AIS_ReadCardAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "account-id",
          "in" : "path",
          "description" : "This identification is denoting the addressed account. \nThe account-id is retrieved by using a \"Read Account List\" call. \nThe account-id is the \"id\" attribute of the account structure. \nIts value is constant at least throughout the lifecycle of a given consent.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party.",
          "required" : true,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
        }, {
          "name" : "TPP-Signature-Certificate",
          "in" : "header",
          "description" : "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
          "required" : false,
          "type" : "string",
          "format" : "byte"
        }, {
          "name" : "Consent-ID",
          "in" : "header",
          "description" : "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained if and only if this request was actively initiated by the PSU.\n",
          "required" : false,
          "type" : "string",
          "format" : "ipv4",
          "x-example" : "192.168.8.78"
        }, {
          "name" : "PSU-IP-Port",
          "in" : "header",
          "description" : "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "name" : "PSU-Accept",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Charset",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Encoding",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Accept-Language",
          "in" : "header",
          "description" : "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-User-Agent",
          "in" : "header",
          "description" : "The forwarded Agent header field of the HTTP request between PSU and TPP, if available.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PSU-Http-Method",
          "in" : "header",
          "description" : "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
        }, {
          "name" : "PSU-Device-ID",
          "in" : "header",
          "description" : "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device.\n",
          "required" : false,
          "type" : "string",
          "format" : "uuid",
          "x-example" : "99435c7e-ad88-49ec-a2ad-99ddcb1f5555"
        }, {
          "name" : "PSU-Geo-Location",
          "in" : "header",
          "description" : "The forwarded Geo Location of the corresponding http request between PSU and TPP if available.\n",
          "required" : false,
          "type" : "string",
          "pattern" : "GEO:[0-9]{1,2}[;]-?[0-9]{6}\\,-]?[0-9]{1,3}\\.[0-9]{6}",
          "x-example" : "GEO:52.506931,13.144558"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Bank Identifer Code \n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/cardAccountDetails"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the request, unique to the call, as determined by the initiating party."
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Error400_NG_AIS"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource.\n"
              },
              "X-Request-ID" : {
                "type" : "string",
[...]
